.flexbox {
    display: flex;
    border: 2px solid rgb(2, 63, 7);
    padding: 20px;
    align-items: center;
}
.item {
    border: 2px solid rgb(24, 82, 16);
    padding: 20px;
    align-items: center;
}
#box1 {
    justify-content: space-evenly;
    background-color: rgb(84, 130, 78);
}
#box2, #box3, #box4 {
    justify-content: center;
    
}

#box3{
    background-color: rgb(55, 100, 52);
}

#innerbox4 {
background-color: rgb(96, 131, 91);
}
