.flexbox {
    display: flex;
    padding: 20px;
    align-items: center;
}
.item {
    padding: 20px;
    align-items: center;
}
#box1 {
    justify-content: space-evenly;
    background-color: rgb(84, 130, 78);
}
#box2, #box3, #box4 {
    justify-content: center;
    
}

#box3{
    background-color: rgb(55, 100, 52);
}

#innerbox4 {
background-color: rgb(96, 131, 91);
}

h1{
    font-style:italic;
    color:rgb(26, 59, 1);
}
h2{
    color:rgb(26, 59, 1);
}

p{
font-style:italic;
color:rgb(26, 59, 1);
}