.flexbox {
    display: flex;
    border: 2px solid blue;
    padding: 20px;
}
.item {
    border: 2px solid rgb(167, 171, 225);
    padding: 20px;
}
#box1 {
    justify-content: space-evenly;
    background-color: rgb(0, 162, 255);
}
#box2, #box3, #box4 {
    justify-content: center;
}

#box3{
    background-color: rgb(137, 198, 255);
}

#innerbox4 {
background-color: rgb(0, 136, 255);
}
